<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- TODO - update to Kodi v19 format -->
<settings>
    <!--    <section id="plugin.matchday">-->
    <category id="matchday.general-settings" label="95001">
        <!--            <group id="matchday.server-settings" label="95002">-->
        <setting type="lsep" label="95002"/>
        <setting id="matchday.server-address" type="text" label="95003" default=""/>
        <setting id="matchday.server-port" type="number" label="95004" default="80"/>
        <!--            </group>-->
        <!--            <group id="matchday.account-settings" label="95005" help="account">-->
        <setting type="lsep" label="95005"/>
        <setting id="matchday.account-username" type="text" label="95006" default="" enable="false"/>
        <setting id="matchday.account-password" type="text" label="95007" default="" option="hidden" enable="false"/>
        <!--            </group>-->
    </category>
    <!--    </section>-->
</settings>

