<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright (c) 2022
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<settings version="1">
    <section id="plugin.matchday">
        <category help="" id="matchday-general-settings" label="95001">
            <group id="1" label="95002">
                <setting id="matchday-server-address" type="string" label="95003">
                    <default>Server address</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="matchday-server-port" type="number" label="95004">
                    <default>80</default>
                    <control type="edit" format="number"/>
                </setting>
            </group>
            <group id="2" label="95005">
                <setting id="matchday-account-username" type="string" label="95006">
                    <default/>
                    <control type="edit" format="string"/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="matchday-account-password" type="string" label="95007" help="">
                    <default/>
                    <control type="edit" format="string">
                        <hidden>true</hidden>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
            </group>
        </category>
    </section>
</settings>
